@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(files/BngMUXZYTXPIvIBgJJSb6tfP7KKJ4Q.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(files/BngMUXZYTXPIvIBgJJSb6tfP7KKJ4Q.woff2) format('woff2');
}
